<footer class="footer " >
<div class="card-group padding_ bg-color ">
<div class="card border-0">
    <div class="card-body text-center text-white bg-color ">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>

    </div>
</div>
<div class="card border-0">
    <div class="card-body text-center text-white bg-color">
        <h3>AROUND THE WEB</h3>
        <div class="icons">
            <fa-icon  [icon]="mayfacbook"></fa-icon>
            <fa-icon  [icon]="maytwitter"></fa-icon>
            <fa-icon  [icon]="myLinked"></fa-icon>
            <fa-icon  [icon]="mayglobe"></fa-icon>
            
        </div>

    </div>
</div>
<div class="card border-0">
    <div class="card-body text-center text-white bg-color">
        <h3>ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>

    </div>
</div>
</div>
<div class="p p-3 text-center text-white bg-color-p">
    <p>Copyright © Your Website 2021</p>
</div>
</footer>