<form class="w-50 p-3 mx-auto  ng-pristine ng-valid ng-touched margin-css">
<label for="userName" class="position-relative top-0 __top"> </label>
<input type="text" id="userName" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
<!-- --------------------------name--------------- -->
<label for="userAge" class="position-relative top-0 __top"> </label>
<input type="text" id="userAge" placeholder="userAge" name="userAge" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
<!-- ------------------------age------------------ -->
<label for="userEmail" class="position-relative top-0 __top"> </label>
<input type="email" id="userEmail" placeholder="userEmail" name="userEmail" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
<!-- -----------------------password--------------- -->
<label for="userPassword" class="position-relative top-0 __top"> </label>
<input type="password" id="userPassword" placeholder="userPassword" name="userPassword" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
<!-- ------------------------button-------- -->
<button class="btn mt-4 text-white bt-color"> send Message </button>

</form>
