.portofil{
    margin-top: 100px;
    margin-bottom: 40px
}


.line{
    width: 100px;
    height:4px ;
}
fa-icon{
    padding: 10px;
    font-size:xx-large;
}
.layer :hover {
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: 5.6s opacity;
}
